Из-за санкционного давления недружественных государств и ухода Аркадия Воложа с поста гендиректора компания «Яндекс» была вынуждена сделать платным обработку запросов к голосовому помощнику «Алисе». Окончательные изменения в тарифы обслуживания будут внесены до конца лета.
Стоимость одного запроса, не нарушающего законодательство России, на который способен ответить голосовой помощник составит не менее 1 рубля. Оплату можно будет вносить авансом {{ word_test }} через сервис «Яндекс.Счет». Подписчики тарифа «Плюс» смогут выполнять не менее 199 запросов в месяц бесплатно. Для остальных пользователей, не оплативших подписку умные устройства будет играть Гимн России, 
транслировать новости федеральных телеканалов и радиостанций со сводкой погоды.